@import "compass_twitter_bootstrap";

.board > li {
display: inline;
}

.board input {
display: none;
}

.clickable-true {
color: yellow;
}

.selected-1 {
color: green;
}

.current-true {
color: red !important;
}
