<div class="hero-unit">
  <h1>Tour knight</h1>

  <div ng-controller="MainCtrl">

    <form ng-submit="initBoard()">
        <label for="i">i</label>
        <input type="text" id="i" name="j" value="2" ng-model="i" />

        <label for="j">j</label>
        <input type="text" id="j" name="j" value="2" ng-model="j" />
        <input type="submit" value="Calcola" />
    </form>

    <div ng-show="i && j && board">
        <span>Fatte {{lenDoneMoves()}} su totali {{totalMoves()}}</span>

        <ul ng-repeat="elems in board" class="board">
            <li ng-repeat="elem in elems">
                <input type="checkbox" name="ij" id="{{elem.i}}_{{elem.j}}" ng-model="elem.checked" />
                <span class="current-{{elem.current}} clickable-{{elem.clickable}} selected{{elem.value}}" ng-click="elem.clickable && clickElem(elem.i, elem.j)">click</span>
            </li>
        </ul>

        <div ng-show="doneMoves.length">
            <h2>Done moves</h2>
            <ul ng-repeat="move in doneMoves">
                <li>{{move[0]}}, {{move[1]}}</li>
            </ul>
        </div>
    </div>

  </div>
</div>
